<section class="content">
  <div class="card is-active">
    <h1>A thing you can die of</h1>
    <span>In the context of <strong>Business</strong></span>

    <div class="card__answer">
      <input class="answer__input" type="text">
    </div>
  </div>
</section>