<form class="search__form" action="/search/" method="GET">
  <div class="search__form-input-wrapper">
    <input class="input--large" type="text" name="query" autocomplete="off" placeholder="f.eks. Lyngbyvej 20, 2100 K&oslash;benhavn &Oslash;" value="Lyngbyvej 20, 2100 K&oslash;benhavn &Oslash;">
  </div>
  <div class="search__form-button-wrapper">
    <button class="button--large" type="submit">S&oslash;g nu</button>
  </div>
</form>