<section class="content">
  <div class="login">
    <div class="login__manual">
      <input type="text" class="login__manual-input" class="E-mail"><br>
      <input type="password" class="login__manual-input" placeholder="********"><br>
      <button class="login__manual-button">Login</button><br><br>
    </div>
    <button class="login__facebook-button" disabled>Login with Facebook</button>
  </div>
</section>