<!DOCTYPE html>
<html manifest="/manifest.appcache" data-appcache="true">
<html data-appcache="false">
<head>
    <meta charset="utf-8">
    <meta name="fragment" content="!">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <title>{{ meta.title }}</title>
</head>
<body>
  <header class="header">
    <a class="logo" href="/">
      <img class="logo-src" src="/images/logo.png" alt="Logo" height="50">
    </a>
  </header>

  {{{ body }}}

  <script type="text/javascript" src="/javascripts/main-min.js"></script>
</body>
</html>