<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="fragment" content="!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <title>{{ meta.title }}</title>
</head>
<body data-id="1" data-guid="2998e318-deb8-4e60-bcee-26eb341c5d1c">
  <header class="header">
    <a class="logo" href="/">
      <img class="logo-src" src="/images/logo.png" alt="Logo" height="50">
    </a>
  </header>

  {{{ body }}}

  <script type="text/javascript" src="/javascripts/main-min.js"></script>
</body>
</html>